<%= form_with(model: trt_mst, local: true) do |form| %>
  <% if trt_mst.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trt_mst.errors.count, "error") %> prohibited this trt_mst from being saved:</h2>

      <ul>
        <% trt_mst.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
